nav {
    display: flex;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px rgb(212, 212, 212) solid;
    margin: 0 10%;
}

.tab {
    box-sizing: border-box;
    padding: 15px 0;
    border: 4px transparent solid;
}

.tab:hover {
    cursor: pointer;
    border-bottom: 4px #2F80ED solid;
}